html,
body {
  height:100%;
  width:100%;

  user-select:none;
  -webkit-user-select:none;

  overflow:hidden;

  margin:0;
  padding:0;

  background-color:rgba(255,255,255,.3) !important;
}

header {
  position: absolute;

  top:0;

  z-index:10;
  width: 100%;
  height: 25px;
  line-height: 25px;
  vertical-align: center;

  text-align: center;

  /* color */
  background-color: #DADFE1;

  /* Makes our application draggable by the top bar */
  -webkit-app-region: drag !important;
}

header .btns {
  position:fixed;
  width:100px;
  display:inline-block;
  height:inherit;
  line-height: inherit;

  top:0;
  right:0;
}

header .btns div {
  height:15px;
  width:15px;

  float:right;

  margin-top:5px;
  margin-right:5px;

  border-radius: 50%;

  cursor: pointer;
}

header .btn-tweet {
  height:100%;
  width:auto;

  background-color: #BDC3C7;

  -webkit-app-region: no-drag;
  float:left;
  padding-left:5px;
  padding-right:5px;

  cursor: pointer;
}

header .btns .btn-close {
  -webkit-app-region: no-drag;
  background-color: #FE6053;

  cursor: pointer;
}

header .btns .btn-min {
  -webkit-app-region: no-drag;
  background-color: #FFBE05;

  cursor: pointer;
}

header .btns .btn-max {
  -webkit-app-region: no-drag;
  background-color: #0DCE33;

  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #BDC3C7;
}

::-webkit-scrollbar-thumb {
  background-color: #7F8C8D;
}

/** Tweets **/
.tweet-pimg {
    height:60px;
    width:60px;
    margin:10px;

    border:2px solid #95A5A6;

    /** Rounded Corners **/
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
}
.tweet {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

 background-color:#FFFFFF;
}

.media-actions {
  margin-right:10px;
  width:auto;
  color:#474747;
  float:right;
}

.media-actions i {
  cursor: pointer;
}

.loading-gif-wrapper {
  margin-top:20px;
  text-align:center;
  margin-bottom:20px;
}
.tweet-body {
  color: #292F33;
  cursor: text;
  font-family: Arial,Verdana,sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-rendering: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

  height:auto;
  min-height:55px;
  user-select: all;
  -webkit-user-select: all;

  margin-right:20px;
}
.tweet-at-link,
.tweet-link,
.tweet-hashtag {
  color:#00cccc;
}
.tweet-info {
  color:#474747;
  float:left;
  margin-left:10px;
  font-size:12px;
  margin-top:2px;
  user-select:none;
}
.tweet-at {
  font-size:13px;
  color:#cccccc !important;
  text-decoration:none;
  user-select:none;
}
.tweet-at:hover {
  text-decoration:none;
  color:#cccccc !important;
}
.tweet-info a:hover {
  text-decoration:none !important;
}
.tweet-screen_name {
  font-size:16px;
  color:#999999;
  user-select:none;
}
.tweet-image-wrapper {
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;

  width:100%;
}
.tweet-image {
  width:100%;
  height:auto;

  border:2px solid #95A5A6;
}

#page-wrapper {
  margin:0;
  padding:0;

  height: 0px;
  width:100%;

  margin-top:25px;

  overflow-y:scroll;
}

.loading {
  margin-top:20px;
  text-align:center;
}

#home {
  margin:0;
  padding:0;

  /* just the top */
  margin-top:20px;
}

#login,
#pin {
  margin-right:auto;
  margin-left:auto;

  max-width:300px;
  width:100%;

  text-align:center;
}

#login button,
#login input,
#pin button,
#pin input {
  width:100%;
}

#pin input {
  margin-top:40px;
}

.login-welcome {
  margin-top:40px;
}

.login-subtext {
  font-size:12px;
  color:#95A5A6;

  padding-bottom:20px;
}

.textarea {
  outline:0;
  margin-top:20px;
}

.favorited {
  color:#FFAC33;
}

.retweeted {
  color:#77B255;
}

.title {
  text-align:center;
  width:auto;
}
